<div id= "new_account">

<%= content_tag :h1, "Create your account!" %>
    <br>
    <%= form_for @user do |f| %>
    
    <%=f.label :username %> 
<br>
    <%=f.text_field :username %>  
<br>
    <%=f.label :password %> 
<br>
    <%=f.password_field :password %>
<br>
    
    <div id =button_account>    
        <%=f.submit :create %>
    </div>

    <% end %>
     
</div>