<div class= "page_container">

        <%= content_tag :h1, 'My Profile' %>
        <h2> <%= @user.username %></h2>
        
    <div id = "profile_posts">

        <% @user.posts.reverse.each do |p| %>
	
    <div id ="personal_posts">
        
        <%= content_tag :h4, p.title %>
            <%= content_tag :h5, p.user.username %>
        <%= content_tag :h5, p.p_content %>
        
    </div>

    <div id="reply_div"> 
	       <!-- comment form embedded in post. -->
        <%= link_to "Reply", post_path(p) %> %>
        <!-- comment loop -->
        <%= p.comments.each do |c| %>
		      <%= content_tag :h6, c.c_content %>
	       <% end %>
    <% end %>
        
    </div>

    </div>


    <div id = "create_post">
    
        <% if @user == @currentuser %>
        <%= content_tag :h1, 'Create Post' %>
        <br>
            <%= form_for @post, url: posts_path, html: {method: :post} do |f| %>
                <%=f.label :title %>
        <br>
                <%=f.text_area :title %>  
	   <br>
	               <%=f.label :content %>
        <br>
	               <%=f.text_area :p_content %>  
        <br>
                <%=f.submit :create %>
            <% end %>
        <% end %>
    
    </div>

</div>