<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

	<%= content_tag :h1, 'Your Profile' %>

		<h1> <%= @user.username %></h1>
		
	<%= content_tag :h1, 'Post Down Below:' %>

	<%= form_for @post, url: posts_path, html: {method: :post} do |f| %>
	  <%=f.label :title %>
	  <%=f.text_area :title %>  
	  <br>
	  <%=f.label :content %>
	  <%=f.text_area :p_content %>  
	  <%=f.submit :create %>
	<% end %>