<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= content_tag :h1, '@user profile' %>

<h2> <%= @user.username %></h2>
		
<%= content_tag :h1, 'Post Down Below:' %>


<%= form_for @post %>
    <%=p.label :new_post %>
		  <%=p.text_area :content %>  
		  <%=p.submit :create %>
<% end %>
