<h1>Home#feed</h1>
<p>Find me in app/views/home/feed.html.erb</p>

<%= content_tag :h3, 'Create a new post:' %>

<%= form_for @post, url: posts_path, html: {method: :post} do |f| %>
  <%=f.label :title %>
  <%=f.text_area :title %>  
  <br>
  <%=f.label :content %>
  <%=f.text_area :p_content %>  
  <%=f.submit :create %>
<% end %>

<% @posts.each do |p| %>
	<%= content_tag :h4, p.title %>
 	<%= content_tag :h5, p.user.username %>
	<%= content_tag :h5, p.p_content %>
	<!-- comment form embedded in post. -->
	<%= link_to "Click here to comment", post_path(p) %> %>
	<!-- comment loop -->
	<%= p.comments.each do |c| %>
		<%= content_tag :h6, c.c_content %>
	<% end %>s
<% end %>


<%= form_tag("/sign_out", method: "get") do %>
    <%=submit_tag("Sign Out") %>
<% end %>