
<img src="/assets/home-3b04ac2f9d15723d91ad54590e43d600564047441ca34badf67f06a69608ca5b.jpg">

<div class ="content">
      
    <div id = "signin">
    
        <%=content_tag :h1, "Sign In"%> <br>
    
        <h3>
            <%= form_tag("/sign_in", method: "get") do %>
                <%=label_tag(:username, "username") %>
                <%=text_field_tag(:username) %>  
    
            <br>
        
                <%=label_tag(:password, "password:") %>
                <%=text_field_tag(:password) %>
            <%=submit_tag("Submit") %> 
            
            <br>    
        
        </h3>
        
            <br>
    
        <h1>
            <%= link_to "Sign Up!", new_user_path %>
        </h1>
        
    <% end %>
        
</div>
 
<div id = "scroller">

    <%=content_tag :h1, "Current Members:"%>
    
    <% @users.each do |u| %>
        <%= content_tag :h4, u.username %>
    <% end %>
    
</div>
