<div class = "reply_content">
    
<%= content_tag :h1, @post.title %>
    <br>
<%= content_tag :h3, @post.p_content %>
<!-- comment form embedded in post. -->
<%= form_for @comment, url: comments_path, html: {method: :post} do |f| %>
    <br>
	<%=f.text_area :c_content %> 
    <br>
	<%=f.submit :create %>
<% end %>
<!-- comment loop -->
<%= @post.comments.reverse.each do |c| %>
	<%= content_tag :h6, c.c_content %>
<% end %>
    
</div>